<style>
    div.scrollmenu {
        overflow: auto;
        white-space: nowrap;
    }

        div.scrollmenu a {
            display: inline-block;
            color: white;
            text-align: center;
            text-decoration: none;
        }

            div.scrollmenu a:hover {
                background-color: #777;
            }
            
    th {
        text-align: center;
    }

    .table > thead > tr > th {
        vertical-align: top;
    }
</style>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Reason Master

    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>

    </ol>
</section>
<!-- Main content -->

    <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Reason Master</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form">
                <div class="box-body ">


                    <div class="col-sm-12">
                        <button class="btn btn-primary" ng-click="AddNewRow()" style="float: right;">+</button>
                    </div>
                    <div>

                        <div class="box-body table-responsive">
                            <div class="box scrollmenu">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Reason </th>
                                            <th>Action
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="Obj in ReasonMasterList">
                                            <td>{{$index + 1}}</td>
                                            <td>
                                                <input type="text" ng-model="Obj.Reason" class="form-control"></td>
                                            <td>
                                                <button class="btn btn-danger" ng-click="RemoveRow(Obj.ReasonMaster_Id , $index)" >-</button></td>



                                        </tr>
                                    </tbody>
                                </table>
                                <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true" class="ng-isolate-scope"><!-- ngIf: 1 < pages.length || !autoHide --></dir-pagination-controls>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-primary" ng-click="Update()" style="margin-left: 10px;">Update</button>
                        </div>
                    </div>

                </div>



                <!-- /.box-body -->
            </form>
        </div>
        <!-- /.box -->
        <!-- Form Element sizes -->
        <!-- /.box -->
        <!-- /.box -->
        <!-- Input addon -->
        <!-- /.box -->

    </div>
