
<style>
    .box.box-primary {
        border-top-color: #14448a;
    }

    thead {
        white-space: nowrap;
        padding: 15px !important;
        background: #14448a;
        color: white;
    }
</style>
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Sales Team Wise Report</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col" rowspan="3" style="text-align:center">
                                            Sr. No
                                        </th>
                                        <th scope="col" rowspan="3" style="text-align:center">
                                            Segment
                                        </th>
                                        <th scope="col" rowspan="3" style="text-align:center">
                                            SO
                                        </th>
                                        <th scope="col" rowspan="3" style="text-align:center">ASM</th>
                                        <th scope="col" rowspan="3" style="text-align:center">RM</th>
                                        <th scope="col" rowspan="3" style="text-align:center">
                                            Segment Head
                                        </th>
                                        <th scope="col" rowspan="3" style="text-align:center">
                                            Nos. Of SRV Requests
                                        </th>
                                        <th scope="col" rowspan="3" style="text-align:center">
                                            SRV Raised against Nos. of Dealers
                                        </th>
                                        <th scope="col" rowspan="3" style="text-align:center">
                                            Total SRV Value
                                        </th>
                                        <th scope="col" colspan="2" rowspan="2" style="text-align:center">
                                            Raised by Sales
                                        </th>
                                        <th scope="col" colspan="2" rowspan="2" style="text-align:center">
                                            Raised By Depot
                                        </th>
                                        <th scope="col" colspan="56" style="text-align:center">Reason wise Summary</th>

                                    </tr>
                                    <tr>

                                        <td colspan="8" style="text-align:center">Billing Error</td>
                                        <td colspan="8" style="text-align:center">Quality Issues</td>
                                        <td colspan="8" style="text-align:center">Incorrect Dispatch</td>
                                        <td colspan="8" style="text-align:center">Damaged on Transit Leaky</td>
                                        <td colspan="8" style="text-align:center">Delayed Delivery</td>
                                        <td colspan="8" style="text-align:center">Order cancelled by Dealer</td>
                                        <td colspan="8" style="text-align:center">Payment issues</td>

                                    </tr>
                                    <tr>
                                        <td>Nos. of Requests</td>
                                        <td>SRV Value</td>
                                        <td>Nos. of Requests</td>
                                        <td>SRV Value</td>
                                        <td>Approved- Nos. of Requests</td>
                                        <td>Approved- SRV Value</td>
                                        <td>
                                            In Process- Nos. of Requests
                                        </td>
                                        <td>
                                            In Process- SRV Value
                                        </td>
                                        <td>
                                            Rejected- Nos. of Requests
                                        </td>
                                        <td>
                                            Rejected- SRV Value
                                        </td>
                                        <td>
                                            Closed- Nos. of Requests
                                        </td>
                                        <td>
                                            Closed- SRV Value
                                        </td>
                                        <td>
                                            Approved- Nos. of Requests
                                        </td>
                                        <td>
                                            Approved- SRV Value
                                        </td>
                                        <td>
                                            In Process- Nos. of Requests
                                        </td>
                                        <td>
                                            In Process- SRV Value
                                        </td>
                                        <td>
                                            Rejected- Nos. of Requests
                                        </td>
                                        <td>
                                            Rejected- SRV Value
                                        </td>
                                        <td>
                                            Closed- Nos. of Requests
                                        </td>
                                        <td>
                                            Closed- SRV Value
                                        </td>
                                        <td>
                                            Approved- Nos. of Requests
                                        </td>
                                        <td>
                                            Approved- SRV Value
                                        </td>
                                        <td>
                                            In Process- Nos. of Requests
                                        </td>
                                        <td>
                                            In Process- SRV Value
                                        </td>
                                        <td>
                                            Rejected- Nos. of Requests
                                        </td>
                                        <td>
                                            Rejected- SRV Value
                                        </td>
                                        <td>
                                            Closed- Nos. of Requests
                                        </td>
                                        <td>
                                            Closed- SRV Value
                                        </td>
                                        <td>
                                            Approved- Nos. of Requests
                                        </td>
                                        <td>
                                            aApproved- SRV Value
                                        </td>
                                        <td>
                                            In Process- Nos. of Requests
                                        </td>
                                        <td>
                                            In Process- SRV Value
                                        </td>
                                        <td>
                                            Rejected- Nos. of Requests
                                        </td>
                                        <td>
                                            Rejected- SRV Value
                                        </td>
                                        <td>
                                            Closed- Nos. of Requests
                                        </td>
                                        <td>
                                            Closed- SRV Value
                                        </td>
                                        <td>
                                            Approved- Nos. of Requests
                                        </td>
                                        <td>
                                            Approved- SRV Value
                                        </td>
                                        <td>
                                            In Process- Nos. of Requests
                                        </td>
                                        <td>
                                            In Process- SRV Value
                                        </td>
                                        <td>
                                            Rejected- Nos. of Requests
                                        </td>
                                        <td>
                                            Rejected- SRV Value
                                        </td>
                                        <td>
                                            Closed- Nos. of Requests
                                        </td>
                                        <td>
                                            Closed- SRV Value
                                        </td>

                                        <td>
                                            Approved- Nos. of Requests
                                        </td>
                                        <td>
                                            Approved- SRV Value
                                        </td>
                                        <td>
                                            In Process- Nos. of Requests
                                        </td>
                                        <td>
                                            In Process- SRV Value
                                        </td>
                                        <td>
                                            Rejected- Nos. of Requests
                                        </td>
                                        <td>
                                            Rejected- SRV Value
                                        </td>
                                        <td>
                                            Closed- Nos. of Requests
                                        </td>
                                        <td>
                                            Closed- SRV Value
                                        </td>
                                        <td>
                                            Approved- Nos. of Requests
                                        </td>
                                        <td>
                                            Approved- SRV Value
                                        </td>
                                        <td>
                                            In Process- Nos. of Requests
                                        </td>
                                        <td>
                                            In Process- SRV Value
                                        </td>
                                        <td>
                                            Rejected- Nos. of Requests
                                        </td>
                                        <td>
                                            Rejected- SRV Value
                                        </td>
                                        <td>
                                            Closed- Nos. of Requests
                                        </td>
                                        <td>
                                            Closed- SRV Value
                                        </td>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="item in ReprtData">
                                    <tr>
                                       


                                    </tr>

                                </tbody>
                            </table>

                        </div>

                    </div>
                    <!-- /.box-body -->


                </form>
            </div>
            <!-- /.box -->
        </div><!--col end-->
    </div><!--row end-->
</section>